<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Js, properJs and Jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- <div th:insert="fragments/commonui :: usermenu"></div> -->
<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      <h3>GRN REGISTER PAGE</h3>
    </div>
    <div class="card-body">
    <form th:action="@{/grn/update}" method="POST"  th:object="${grn}">
     
       <!-- Row#1 -->
      <div class="row">
          <div class="col-2">
            <label>Grn Id</label>
          </div>
          <div class="col-4">
            <input type="text" th:field="*{id}" class="form-control" readonly="readonly">
          </div>
          <div class="col-6">
          </div>
         </div>
         <br>
       <div class="row">
          <!-- Row#1 -->
          <div class="col-2">
            <label for="grnCode">Grn Code</label>
          </div>
          <div class="col-4">
            <input type="text" th:field="*{grnCode}" class="form-control">
          </div>
          <div class="col-6">
            <span id="grnCodeError"></span>
          </div>
         </div>
         <br>
         
       <div class="row">
          <!-- Row#1 -->
          <div class="col-2">
            <label for="grnType">Grn Type</label>
          </div>
          <div class="col-4">
            <input type="text" th:field="*{grnType}" class="form-control">
          </div>
          <div>
            <span id="grnTypeError"></span>
          </div>
        </div>
        <br>
        <div class="row">
          <!-- Row#1 -->
          <div class="col-2">
            <label for="description">Description</label>
          </div>
          <div class="col-4">
            <textarea th:field="*{description}" class="form-control"></textarea>
          </div>
          <div class="col-6">
            <span id="descriptionError"></span>
          </div>
        </div>
        <input type="submit" class="btn btn-success" value="Register"/>
        </form>
    </div>
    <div class="card-footer bg-info text-white text-center">
      <b><span th:text="${message}"></span></b>
    </div>
  </div>
</div>
</body>
</html>