<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Js, properJs and Jquery  .slim-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div th:insert="fragments/commonui :: usermenu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>PURCHER ORDER DETAILS</h3>
			</div>
			<div class="card-body">
				
			   <table>
			     <tr>
			       <th>Order Code<th>
			       <th><input th:field="*{po.orderCode}" readonly="readonly" class="form-control"><th>
			       <th>&emsp;&emsp;Status<th>
			       <th><input th:field="*{po.defaultStatus}" readonly="readonly" class="form-control"><th>
			       <th><th>
			     </tr>
			   </table>
			   
			   <hr/>
			<div th:if="${po.defaultStatus=='OPEN' || po.defaultStatus=='PICKING'}">
			   <h3>ADD PART TO CART</h3>
			   <hr>
			   <!-- Add part form -->
			   <form th:action="@{/purchaseOrd/addPart}" method="POST" th:object="${purchaseDtls}">
			     <input type="hidden" th:field="*{po.id}"/>
			     <div class="row">
			       <div class="col-1.5">
			         <label>Select Part</label>
			       </div>
			       <div class="col-3">
			         <select th:field="*{part.id}" class="form-control">
			           <option value="">-Select-</option>
			           <option th:each="ob:${parts}" th:value="${ob.key}" th:text="${ob.value}"></option>
			         </select>
			       </div>
			     
			       <div class="col-1.5">
			         <label>QTY</label>
			       </div>
			       <div class="col-3">
			         <input type="text" th:field="*{qty}" class="form-control"/>
			       </div>
			       <div class="col-1">
			         <input type="submit" class="btn btn-success" value="add"/>
			       </div>
			     </div>
			   </form>
			</div>
			 </div>
			
			<div class="card-footer">
			  <table class="table">
			    <tr>
			      <th>SLNO.</th>
			      <th>PART CODE</th>
			      <th>BASE COST</th>
			      <th>QTY</th>
			      <th>OPERATION</th>
			    </tr>
			    <tr th:each="ob,i:${dtlList}">
			      <td th:text="${i.count}">--</td>
			      <td th:text="${ob.part.partCode}"></td>
			      <td th:text="${ob.part.baseCost}"></td>
			      <td th:text="${ob.qty}"></td>
			      <!-- <td><a th:href="@{/purchaseOrd/removePart/{id} (id=${ob.id})}" class="btn btn-danger">Remove</a></td>  -->
			      <td><a th:href="@{/purchaseOrd/removePart?dtlsId={dtlsId}&poId={poId} (dtlsId=${ob.id},poId=${po.id})}" class="btn btn-danger">Remove</a></td>
			    </tr>
			      
			 
			  </table>
			 <!--  <a th:href="@{/purchaseOrd/confirm}" class="btn btn-success align-center">Confirm Order</a>  -->
			  
			  <div th:if="${po.defaultStatus=='PICKING'}" align="center">
			    <a th:href="@{/purchaseOrd/confirm/{id}(id=${po.id})}" class="btn btn-success align-center">Confirm Order</a> 
			  </div> 
			  <div th:if="${po.defaultStatus=='ORDERED'}" align="center">
			  <div class="text-success">
			    <b>TOTAL ITEM PLACED IN ORDER : <span th:text="${dtlList.size()}"></span></b> 
			  </div>
			  </div> 
		    </div>
		   
		</div>
	</div>	

</body>
</html>