<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Js, properJs and Jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="card">
  <div class="card-header bg-primary text-white text-center">
    <h3>WH USER TYPE Edit</h3>
  </div>
  <div class="card-body">
    <form th:action="@{/whUserType/update}" method="POST" th:object="${whUserType}"> 
      <!-- row#1 -->
      <div class="row">
        <div class="col-2">
          <label>User Id</label>
        </div>
        <div class="col-4">
          <input type="text" th:field="*{id}" readonly="readonly"> 
        </div>
        <div class="col-6">
         
        </div>
       </div>
       <br>
      <!-- row#2 -->
      <div class="row">
        <div class="col-2">
          <label for="userType">User Type</label>
        </div>
        <div class="col-4">
          <input type="radio" th:field="*{userType}" value="Vendor">Vendor
          <input type="radio" th:field="*{userType}" value="Customer">Customer 
        </div>
        <div class="col-6">
          <span id="userTypeError"></span> 
        </div>
       </div>
       <br>
       <!-- Row#3 -->
       <div class="row">
         <div class="col-2">
           <label for="userCode">User Code </label>
         </div>
         <div class="col-4">
           <input type="text" th:field="*{userCode}" class="form-control">          
         </div>
         <div class="col-6">
           <span id="userCodeError"></span>
         </div>
       </div>
       <br>
       <!-- Row#4 -->
       <div class="row">
         <div class="col-2">
           <label for="userFor">User For </label>
         </div>
         <div class="col-4">
           <input type="text" th:field="*{userFor}" class="form-control" readonly>          
         </div>
         <div class="col-6">
           <span id="userForError"></span>
         </div>
       </div>
       <br>
        <!-- Row#5 -->
       <div class="row">
         <div class="col-2">
           <label for="userEmail">User Email Id </label>
         </div>
         <div class="col-4">
           <input type="text" th:field="*{userEmail}" class="form-control">          
         </div>
         <div class="col-6">
           <span id="userEmailError"></span>
         </div>
       </div>
       <br>
       <!-- Row#6 -->
       <div class="row">
         <div class="col-2">
           <label for="userContact">User Contact </label>
         </div>
         <div class="col-4">
           <input type="text" th:field="*{userContact}" class="form-control">          
         </div>
         <div class="col-6">
           <span id="userContactError"></span>
         </div>
       </div>
       <br>
        <!-- Row#7 -->
       <div class="row">
         <div class="col-2">
           <label for="userIdType">User Id Type </label>
         </div>
         <div class="col-4">
           <select th:field="*{userIdType}" class="form-control">
                <option value="">--Select--</option>
                <option value="Pan Card">PAN CARD</option>
                <option value="Aadhar Card">AADHAR CARD</option>
                <option value="Voter Card">VOTER CARD</option>
                <option value="Other">OTHER</option>
           </select>          
         </div>
         <div class="col-6">
           <span id="userIdTypeError"></span>
         </div>
       </div>
       <br>
       <!-- Row#8 -->
       <div class="row">
         <div class="col-2">
           <label for="ifOther">Other </label>
         </div>
         <div class="col-4">
           <input type="text" th:field="*{ifOther}" class="form-control" readonly>          
         </div>
         <div class="col-6">
           <span id="ifOtherError"></span>
         </div>
       </div>
       <br>
       <!-- Row#9 -->
       <div class="row">
         <div class="col-2">
           <label for="idNumber">Id Number </label>
         </div>
         <div class="col-4">
           <input type="text" th:field="*{idNumber}" class="form-control">          
         </div>
         <div class="col-6">
           <span id="idNumberError"></span>
         </div>
       </div>
       <br>
       <input type="submit" class="btn btn-success" value="Register"/> 
    </form>
  </div>
  <div class="card-footer bg-info text-white text-center"></div>
</div>
</div>
<script>

$(document).ready(function(){
	//validate for Autofill
	$('input[type="radio"][name="userType"]').change(function(){
		autoFillUserFor();
	})
function autoFillUserFor(){
	var val=$('input[type="radio"][name="userType"]:checked').val();
	if(val == 'Vendor'){
		$("#userFor").val('Purchase');
	}
	else if(val=='Customer'){
		$("#userFor").val('Sale');
	}
}
	//ifOtherText Input
	$("#userIdType").change(function(){
		var val=$("#userIdType").val();
		
		if(val == 'Other'){
			$("#ifOther").removeAttr("readOnly");
		}
		else{
			$("#ifOther").attr("readOnly","true");
			$("#ifOther").val("");
		}
		
	
	})
	
})
</script>
</body>
</html>